:root{
    --primary-color: #EBC431;
    --secondary-color: #E2DFDD;
    --accent1-color:  #9C6615;
    --accent2-color:  #3b544a;
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Roboto", sans-serif;
} 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

header{
    color: var(--accent2-color);
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header , main , footer{
    max-width: 1200px;
    margin: 0 auto;
}

a{ 
    text-decoration: none;
 }

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

h1 , h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero{
    position: relative;
}

.hero h1{
    position:absolute;
    top: 1em;
    left:50%;
    transform:translatex(-50%);
    background-color: #ffffff61;
    color: var(--accent1-color);
    padding: 1rem;
    font-size: 2em;
}
.hero article{
    background-color: #ffffff61;
    position: absolute;
    top: 15rem;
    left: 2rem;
    right: 2rem;
}
.hero article img{
    float:right;
    margin:2rem;
    width: 13rem;
}
.hero article p{
    color: var(--accent1-color);
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 500;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}


nav, p, section , article{
    margin: 16px;
    padding: 8px;
}

footer{
    background-color: #3e3e3e;
    color: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 2rem;
}

.socialmedia {
    grid-column: 3;
}
.socialmedia img{
    width: 3em;  
}